{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{{ name }}</title>
</head>
<body>
<h1>Все файлы на данном веб-сайте: </h1>
<br>
{% for doc in docs %}
    <b>{{ doc.name }}</b> ({{ doc.type }})
    <br>
    <b>Описание:</b> {{ doc.description|truncatewords:20 }}
    <br>
    <a href="{{ doc.get_absolute_url }}">Подробнее...</a>
    <form method="post" action="{% url 'done' doc.pk %}">
        <button type="submit">Загрузить файл</button>
    {% csrf_token %}
    </form>
    <hr>
{% endfor %}



{% if page_obj.has_other_pages %}
    {% for p in page_obj.paginator.page_range %}
        {% if page_obj.number == p %}
            <span>{{ p }}</span>
            {% else %}
            <a href="?page={{ p }}">{{ p }}</a>
        {% endif %}
    {% endfor %}
{% endif %}

{% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">Следующая</a>
{% endif %} 

</body>
</html>